<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recipe Search</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Search for Recipes</h1>
    <form action="/results" method="get">
        <label for="ingredients">Ingredients (comma-separated):</label>
        <input type="text" id="ingredients" name="ingredients" required>
        <button type="submit">Search</button>
    </form>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsam iusto ducimus. Deleniti dignissimos doloremque rem et. Voluptates qui maiores, eos voluptatum at dignissimos saepe tenetur commodi necessitatibus alias illum reprehenderit corporis harum adipisci sequi ab dolores possimus ducimus repellat aliquid tempore quaerat doloribus. Veniam eum minima recusandae quaerat harum, neque ea vel totam ipsam facilis at tenetur soluta suscipit esse? Tempora obcaecati voluptatibus doloribus eaque vel temporibus quos doloremque libero alias aliquid ipsam delectus praesentium labore accusamus, dicta fugit distinctio placeat ex laborum quam a corporis atque nisi! Ipsum modi cum cumque est distinctio reiciendis enim, reprehenderit nulla officiis!</p>
</body>

</html>